@import 'general/reset.scss';

$primary-color: black;
$secondary-color: #1565c0;
$main-key-color: $secondary-color;

$background-keys: white;

$default-spacing: 10px;
$key-opacity: 0.6;

body {
  background: $secondary-color;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.drum-kit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.keys {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: $background-keys;
  border: 3px solid darken($background-keys, 5%);
  border-radius: 4px;
  padding: $default-spacing;
  margin-left: $default-spacing;
  margin-right: $default-spacing;

  .main-key {
    font-size: 2rem;
    color: $main-key-color;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .help-key {
    width: 100%;
    text-align: center;
    color: $secondary-color;
    text-transform: uppercase;
    margin-top: $default-spacing/2;
    font-weight: bold;
  }
}